y_0 OR NOT y_28
y_28 OR NOT y_0 OR y_13 OR y_14 OR y_15 OR y_17 OR y_21 OR y_22 OR y_24 OR y_25 OR y_26 OR y_27
y_0 OR NOT y_26 OR y_1 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7
y_0 OR NOT y_25 OR y_1 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7
y_0 OR NOT y_24 OR y_2
y_0 OR NOT y_17 OR y_1 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7
y_0 OR NOT y_15 OR y_1 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7
y_0 OR NOT y_14 OR y_1 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7
y_0 OR NOT y_13 OR y_1 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7
y_23 OR NOT y_7 OR y_13 OR y_14 OR y_15 OR y_16 OR y_17 OR y_18 OR y_19 OR y_20 OR y_21 OR y_22 OR y_26 OR y_25 OR y_27
y_7 OR NOT y_20 OR y_1 OR y_4 OR y_5 OR y_6 OR y_3
y_23 OR NOT y_6 OR y_13 OR y_14 OR y_15 OR y_16 OR y_17 OR y_18 OR y_19 OR y_20 OR y_21 OR y_22 OR y_26 OR y_25 OR y_27
y_23 OR NOT y_5 OR y_13 OR y_14 OR y_15 OR y_16 OR y_17 OR y_18 OR y_19 OR y_20 OR y_21 OR y_22 OR y_26 OR y_25 OR y_27
y_9 OR NOT y_12 OR y_8
y_9 OR NOT y_11 OR y_8
y_9 OR NOT y_10 OR y_8
y_23 OR NOT y_3 OR y_13 OR y_14 OR y_15 OR y_16 OR y_17 OR y_18 OR y_19 OR y_20 OR y_21 OR y_22 OR y_26 OR y_25 OR y_27
y_27 OR NOT y_2 OR y_13 OR y_14 OR y_15 OR y_16 OR y_17 OR y_18 OR y_19 OR y_21 OR y_22 OR y_23 OR y_24 OR y_25 OR y_26
y_2 OR NOT y_23 OR y_4 OR y_5 OR y_6 OR y_3 OR y_7 OR y_1
y_2 OR NOT y_19 OR y_4 OR y_5 OR y_6 OR y_3 OR y_7 OR y_1
y_2 OR NOT y_18 OR y_4 OR y_5 OR y_6 OR y_3 OR y_7 OR y_1
y_2 OR NOT y_16 OR y_4 OR y_5 OR y_6 OR y_3 OR y_7 OR y_1
y_23 OR NOT y_1 OR y_13 OR y_14 OR y_15 OR y_16 OR y_17 OR y_18 OR y_19 OR y_20 OR y_21 OR y_22 OR y_26 OR y_25 OR y_27
y_1 OR NOT y_22 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7
y_1 OR NOT y_21 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7
NOT y_1 OR NOT y_2
NOT y_1 OR NOT y_3
NOT y_1 OR NOT y_4
NOT y_1 OR NOT y_5
NOT y_1 OR NOT y_6
NOT y_2 OR NOT y_3
NOT y_1 OR NOT y_7
NOT y_1 OR NOT y_8
NOT y_2 OR NOT y_4
NOT y_1 OR NOT y_9
NOT y_1 OR NOT y_10
NOT y_2 OR NOT y_5
NOT y_1 OR NOT y_11
NOT y_1 OR NOT y_12
NOT y_2 OR NOT y_6
NOT y_3 OR NOT y_4
NOT y_2 OR NOT y_7
NOT y_3 OR NOT y_5
NOT y_2 OR NOT y_8
NOT y_2 OR NOT y_9
NOT y_3 OR NOT y_6
NOT y_2 OR NOT y_10
NOT y_4 OR NOT y_5
NOT y_3 OR NOT y_7
NOT y_2 OR NOT y_11
NOT y_1 OR NOT y_24
NOT y_2 OR NOT y_12
NOT y_3 OR NOT y_8
NOT y_4 OR NOT y_6
NOT y_1 OR NOT y_27
NOT y_3 OR NOT y_9
NOT y_1 OR NOT y_28
NOT y_4 OR NOT y_7
NOT y_3 OR NOT y_10
NOT y_5 OR NOT y_6
NOT y_16 OR NOT y_2
NOT y_4 OR NOT y_8
NOT y_3 OR NOT y_11
NOT y_5 OR NOT y_7
NOT y_3 OR NOT y_12
NOT y_4 OR NOT y_9
NOT y_20 OR NOT y_2
NOT y_4 OR NOT y_10
NOT y_5 OR NOT y_8
NOT y_1 OR NOT y_0
y_0 OR y_1 OR y_2 OR y_3 OR y_4 OR y_5 OR y_6 OR y_7 OR y_8 OR y_9
NOT y_6 OR NOT y_7
NOT y_4 OR NOT y_11
NOT y_5 OR NOT y_9
NOT y_4 OR NOT y_12
NOT y_6 OR NOT y_8
NOT y_5 OR NOT y_10
NOT y_6 OR NOT y_9
NOT y_5 OR NOT y_11
NOT y_2 OR NOT y_28
NOT y_7 OR NOT y_8
NOT y_5 OR NOT y_12
NOT y_6 OR NOT y_10
NOT y_7 OR NOT y_9
NOT y_6 OR NOT y_11
NOT y_7 OR NOT y_10
NOT y_3 OR NOT y_24
NOT y_6 OR NOT y_12
NOT y_8 OR NOT y_9
NOT y_7 OR NOT y_11
NOT y_3 OR NOT y_27
NOT y_2 OR NOT y_0
y_0 OR y_2 OR NOT y_27
NOT y_3 OR NOT y_28
NOT y_7 OR NOT y_12
NOT y_4 OR NOT y_24
NOT y_8 OR NOT y_13
NOT y_4 OR NOT y_27
NOT y_10 OR NOT y_11
NOT y_4 OR NOT y_28
NOT y_14 OR NOT y_8
NOT y_9 OR NOT y_13
NOT y_5 OR NOT y_24
NOT y_8 OR NOT y_15
NOT y_10 OR NOT y_12
NOT y_3 OR NOT y_0
NOT y_14 OR NOT y_9
NOT y_8 OR NOT y_16
NOT y_10 OR NOT y_13
NOT y_11 OR NOT y_12
NOT y_5 OR NOT y_27
NOT y_9 OR NOT y_15
NOT y_17 OR NOT y_8
NOT y_5 OR NOT y_28
NOT y_10 OR NOT y_14
NOT y_11 OR NOT y_13
NOT y_6 OR NOT y_24
NOT y_8 OR NOT y_18
NOT y_9 OR NOT y_16
NOT y_10 OR NOT y_15
NOT y_8 OR NOT y_19
NOT y_17 OR NOT y_9
NOT y_11 OR NOT y_14
NOT y_12 OR NOT y_13
NOT y_8 OR NOT y_20
NOT y_10 OR NOT y_16
NOT y_6 OR NOT y_27
NOT y_9 OR NOT y_18
NOT y_4 OR NOT y_0
NOT y_11 OR NOT y_15
NOT y_6 OR NOT y_28
NOT y_7 OR NOT y_24
NOT y_8 OR NOT y_21
NOT y_12 OR NOT y_14
NOT y_10 OR NOT y_17
NOT y_9 OR NOT y_19
NOT y_22 OR NOT y_8
NOT y_11 OR NOT y_16
NOT y_9 OR NOT y_20
NOT y_10 OR NOT y_18
NOT y_12 OR NOT y_15
NOT y_8 OR NOT y_23
NOT y_11 OR NOT y_17
NOT y_7 OR NOT y_27
NOT y_9 OR NOT y_21
NOT y_10 OR NOT y_19
NOT y_8 OR NOT y_24
NOT y_12 OR NOT y_16
NOT y_13 OR NOT y_15
NOT y_7 OR NOT y_28
NOT y_22 OR NOT y_9
NOT y_11 OR NOT y_18
NOT y_8 OR NOT y_25
NOT y_10 OR NOT y_20
NOT y_12 OR NOT y_17
NOT y_5 OR NOT y_0
NOT y_9 OR NOT y_23
NOT y_8 OR NOT y_26
NOT y_11 OR NOT y_19
NOT y_10 OR NOT y_21
NOT y_14 OR NOT y_15
NOT y_8 OR NOT y_27
NOT y_9 OR NOT y_24
NOT y_12 OR NOT y_18
NOT y_10 OR NOT y_22
NOT y_11 OR NOT y_20
NOT y_8 OR NOT y_28
NOT y_9 OR NOT y_25
NOT y_12 OR NOT y_19
NOT y_10 OR NOT y_23
NOT y_11 OR NOT y_21
NOT y_9 OR NOT y_26
NOT y_10 OR NOT y_24
NOT y_12 OR NOT y_20
NOT y_11 OR NOT y_22
NOT y_9 OR NOT y_27
NOT y_6 OR NOT y_0
NOT y_10 OR NOT y_25
NOT y_9 OR NOT y_28
NOT y_12 OR NOT y_21
NOT y_11 OR NOT y_23
NOT y_15 OR NOT y_17
NOT y_10 OR NOT y_26
NOT y_11 OR NOT y_24
NOT y_12 OR NOT y_22
NOT y_10 OR NOT y_27
NOT y_11 OR NOT y_25
NOT y_12 OR NOT y_23
NOT y_11 OR NOT y_26
NOT y_7 OR NOT y_0
NOT y_12 OR NOT y_24
NOT y_11 OR NOT y_27
NOT y_12 OR NOT y_25
NOT y_12 OR NOT y_26
NOT y_12 OR NOT y_27
NOT y_8 OR NOT y_0
NOT y_18 OR NOT y_19
NOT y_9 OR NOT y_0
NOT y_16 OR NOT y_24
NOT y_10 OR NOT y_0
NOT y_27 OR NOT y_16
NOT y_24 OR NOT y_18
NOT y_16 OR NOT y_28
NOT y_11 OR NOT y_0
NOT y_24 OR NOT y_19
NOT y_12 OR NOT y_0
NOT y_24 OR NOT y_23
NOT y_24 OR NOT y_25
NOT y_24 OR NOT y_26
NOT y_24 OR NOT y_27
NOT y_16 OR NOT y_0
NOT y_0 OR NOT y_18
NOT y_0 OR NOT y_19
NOT y_20 OR NOT y_0
y_29 OR y_30 OR y_31 OR y_32 OR y_33 OR y_34 OR y_35 OR y_36 OR y_37 OR y_38 OR y_39 OR y_40 OR y_8 OR y_9
NOT y_30 OR NOT y_31
NOT y_0 OR NOT y_23
NOT y_29 OR NOT y_33
NOT y_30 OR NOT y_33
NOT y_32 OR NOT y_31
NOT y_30 OR NOT y_34
NOT y_33 OR NOT y_31
NOT y_30 OR NOT y_36
NOT y_33 OR NOT y_34
NOT y_38 OR NOT y_30
NOT y_29 OR NOT y_40
NOT y_39 OR NOT y_30
NOT y_30 OR NOT y_40
NOT y_39 OR NOT y_31
NOT y_40 OR NOT y_31
NOT y_38 OR NOT y_33
NOT y_35 OR NOT y_36
NOT y_32 OR NOT y_40
NOT y_33 OR NOT y_39
NOT y_33 OR NOT y_40
NOT y_34 OR NOT y_40
NOT y_35 OR NOT y_40
NOT y_36 OR NOT y_40
NOT y_37 OR NOT y_40
NOT y_38 OR NOT y_39
NOT y_38 OR NOT y_40
NOT y_39 OR NOT y_40
y_23 OR NOT y_4 OR y_32 OR y_13 OR y_14 OR y_15 OR y_16 OR y_17 OR y_18 OR y_19 OR y_20 OR y_21 OR y_22 OR y_25 OR y_26